.color_box {
    position: relative;
    width: 20%;
    height: 25%;
    margin: 0 auto;
    display: inline-block;
    cursor: pointer;
    margin-bottom: -3.5px;
}

.single {
    height: 50%;
}

.copy_button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -15px;
    width: 100px;
    height: 30px;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    pointer-events: none;
}

.color_box:hover .copy_button {
    opacity: 1;
}

.light_text {
    color: rgb(255, 255, 255);
}

.dark_text {
    color: rgb(46, 46, 46);
}

.box_content {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.see_more {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.3);
    width: 60px;
    height: 30px;
    border: none;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
}

.copy_overlay {
    opacity: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    transform: scale(0.1);
    transition: transform 0.6s ease-in-out;
}

.copy_overlay.show {
    opacity: 1;
    transform: scale(50);
    z-index: 10;
    position: absolute;
}

.copy_msg {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    transform: scale(0.1);
    opacity: 0;
    h1 {
        font-weight: 400;
        text-shadow: 1px 2px black;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        margin-bottom: 0;
        padding: 1rem;
        text-align: center;
        text-transform: uppercase;
    }
    p {
        font-size: 2rem;
        font-weight: 100;
    }
}

.copy_msg.show {
    opacity: 1;
    transform: scale(1);
    z-index: 25;
    transition: all 0.4s ease-in-out;
    transition-delay: 0.3s;
}