@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.rc-slider > .rc-slider-track {
  background-color: transparent;
}

.rc-slider > .rc-slider-rail {
  height: 8px;
}

.rc-slider > .rc-slider-handle:active,
.rc-slider > .rc-slider-handle:hover,
.rc-slider > .rc-slider-handle:focus,
.rc-slider > .rc-slider-handle {
    background-color: green;
    outline: none;
    border: 2px solid green;
    box-shadow: none;
    width: 13px;
    height: 13px;
    margin-top: -3px;
}