.nav_bar {
    height: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    height: 100%;
    margin-right: 15px;
    padding: 0 10px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    background-color: #eceff1;
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: black;

}

.slider {
    width: 340px;
    margin: 0 10px;
    display: inline-block;
}

.select_container {
    margin-left: auto;
    margin-right: 1rem;
}