.single_palette {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.Palette_colors {
    height: 90%;
    width: 100%;
}

.palette_footer {
    background-color: white;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
}

.emoji {
    font-size: 1.5rem;
    margin: 0 1rem;
}